.App {
  text-align: center;
}

body{
  margin: 0px;
  font-family: "Roboto";
  background: #44c4e7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navigation ul {
  list-style-type:none;
  font:bold 11px Helvetica,Arial,sans-serif;
  text-transform:uppercase;
  margin:0;
  padding:0;
}
.navigation li {
  display:inline-block;
}

.navigation li {
  background:#395870;
  background:linear-gradient(#54a7e3,#103652);
  padding:12px 20px;
}
.navigation .link {
  color:#fff;
  text-decoration:none;
}
.navigation li:hover {
  background:#1169b0;
  box-shadow:inset 0 0  10px 1px rgba(0,0,0,.3);
}

 .navigation li:first-child a {
   border-radius:4px 0 0 4px;
 } 
.navigation li:last-child a {
  border-radius:0 4px 4px 0;
}